<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77639326166-5fdsaj5h8ojpnohguquvepnipbj8705h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77639326166-5fdsaj5h8ojpnohguquvepnipbj8705h</string>
	<key>API_KEY</key>
	<string>AIzaSyDXTTLolJH8EerFvp5I9BJk9DsV5TWW3Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>77639326166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp1</string>
	<key>PROJECT_ID</key>
	<string>testflutter-app1</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutter-app1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77639326166:ios:af6850fab361144cd6ac77</string>
</dict>
</plist>